
.chat-messages {
  height: 500px;
  bottom: 20px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .chat-messages {
    height: 84vh;
    bottom: 20px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .chat-message-div{
    height: 78vh;
  }
}

.chat-messages > :first-child {
  margin-top: auto !important;
}

.chat-message-div{
  height: 450px;
}
.chat-messages div {
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

#message-input {
    flex: 1;
    border: 1px solid #ccc; 
    outline: none;
    width: 100%;
    border-radius: 6px;
}


.tick {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #128c7e;
    border-radius: 50%;
    margin-left: 5px;
}

.seen {
    color: #888;
    font-size: 0.8em;
    margin-left: 5px;
}
.message-dis{
    display: flex;
    gap: 5px;
}
.message-div{
    display: flex;
    justify-content: end;
}
.img{
    width: 25px;
    border-radius: 100%;
}
.message-text{
    background-color: #f1f1f1;
    padding: 6px;
    margin-left: 30px;
    border-radius: 5px;

}
 
  .done-icon {
    width: 12px;
    height: 12px;
    border: 2px solid #8d8d8d; /* Green color */
    border-radius: 50%; /* Rounded shape */
    position: relative;
  }
  
  .done-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 8px;
    border-width: 0 2px 2px 0;
    border-color: gray;
    border-style: solid;
    transform: translate(-50%, -50%) rotate(45deg); /* Rotates the element to form a checkmark */
  }
  .done-icon-delivered {
    width: 12px;
    height: 12px;
    background: #000;
    border: 2px solid #000000; /* Green color */
    border-radius: 50%; /* Rounded shape */
    position: relative;
  }
  
  .done-icon-delivered::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 8px;
    border-width: 0 2px 2px 0;
    border-color: white;
    border-style: solid;
    transform: translate(-50%, -50%) rotate(45deg); /* Rotates the element to form a checkmark */
  }
  .done-icon-read {
    width: 12px;
    height: 12px;
    background: #176101;
    border: 2px solid #176101; /* Green color */
    border-radius: 50%; /* Rounded shape */
    position: relative;
  }
  
  .done-icon-read::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 8px;
    border-width: 0 2px 2px 0;
    border-color: white;
    border-style: solid;
    transform: translate(-50%, -50%) rotate(45deg); 
  }
  .dot-img{
    width: 12%;
    height: 6%;
  }
  .right-section{
    display: flex;
    justify-content: end;
    position: relative;
  }
  .message-two{
    background-color:#f1f1f1;
    /* text-align: right; */
    margin-right: 48px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 5px;
  }
 .message-box{
  display: flex;
  gap: 6px;
  margin: 7px;
  justify-content: right;
 }
  .loadingContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    font-size: 15px;
    color: rgb(160, 160, 160);
  }

  .text {
    margin-right: 10px;
  }

  .dot-wave {
    display: flex;
    align-items: left;
  }
  
  .dot {
    width: 7px;
    height: 7px;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
    margin: 0 5px;
    animation: wave 2s infinite ease-in-out;
  }
  .dot:nth-child(2) {
    animation-delay: -0.4s;
  }
  
  .dot:nth-child(3) {
    animation-delay: -0.8s;
  }

  @keyframes wave {
    0%, 60%, 100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
  }